body
{
background-color: lightgray;
font-family: 'Open Sans', sans-serif;
background-repeat: no-repeat;
padding:0; 
padding-top:50px;
padding-bottom:100px;
}

photo{
    width: 150px;
    height: 300px;;
}
header{
    color:#fff;
    background-color: rgb(181, 162, 162);
    position: fixed;
    top:0;
    left:0;
    padding:20px;
    width:100%;
    text-align: center;
}
.moodImage{
    width:25%;
    height:auto;
}
img{
    border:2px solid rgb(56, 45, 45);
   
}
.col{
    width:100%;
    text-align: center;

}
footer{
    color:#fff;
    background-color: rgb(57, 58, 66);
    text-align: center;
}
a{
    color:#000;
}
gif{
    width:auto;
    height:48px;
}
ol{
    display: flex;
    flex-direction: column-reverse;
  }
  ol li{
    font-weight: bold;
  }
 
